<body>

    <article>
        <h1>title</h1>

        <p>content: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, nulla assumenda? Perspiciatis adipisci quidem fugit? Repudiandae voluptates vel dolore, impedit, beatae ea provident incidunt nostrum, reiciendis eos mollitia laboriosam eveniet.</p>

        <img src="#" alt="image">

        <section>
            <a href="#">links externos</a>
            <a href="#">links externos</a>
            <a href="#">links externos</a>
            <a href="#">links externos</a>
            <a href="#">links externos</a>
        </section>

    </article>

    <footer>
        <!-- Pagination -->

    </footer>
    
</body>
