<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The OOP: Glosario de terminos</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/glosary.css">
</head>
<body>
    <!-- Page Main Navegation -->
    <div class="container-nav">
        <nav class="nav-main">
            <a href="../index.html"><img class="nav-brand" src="../pictures/iujo-logo.png" alt="Iujo logo"></a>
            <ul class="nav-menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="author.html">Apartado del autor</a></li>
                <li><a href="glosary.html">Glosario de terminos</a></li>
                <li><a href="help.html">Sección de Apoyo</a></li>
            </ul>
            <ul>
                <li>
                    <img class="search" src="../icons/search.png" width="20px" alt="search">
                </li>
            </ul>
        </nav>
        <hr>
    </div>

    <div class="container">

        <main class="main-content">
                <div class="wrapper">

                    <!-- Main Contend -->
                    <article class="glosary">
                        
                        <h1>Glosario de terminos de POO</h1>
                        <hr class="subline">

                        <div class="container" id="term-cards">
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/algorithm.png" alt="algorithm">
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title">Algoritmo</h3>
                                        <hr class="subline">
                                        <a href="#" class="next tooltip">
                                            Ver más >>
                                            <div class="container">
                                                <span class="tooltip-text">
                                                    Un grupo finito de operaciones organizadas de manera lógica y ordenadaque permite solucionar un determinado problema.
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/code.png" alt="code">
                                    </div>
                                    
                                    <h3 class="card-title">Programación</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            acción de crear programas a través del desarrollo de un código, que se basa en el conjunto de instrucciones que sigue el ordenador para ejecutar un programa.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/coding-language.png" alt="coding-language">
                                    </div>
                                    <h3 class="card-title">Lenguaje de Programación</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            un lenguaje diseñado para describir el conjunto de acciones consecutivas que un equipo debe ejecutar.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/paradigm.png" alt="paradigm">
                                    </div>
                                    <h3 class="card-title">Paradigma</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            un modelo o patrón sostenido en una disciplina.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/structure.png" alt="structure">
                                    </div>
                                    <h3 class="card-title">Paradigma Structurado o Secuencial</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            una técnica que utiliza la metodología secuencial de desarrollo de programas
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/cube.png" alt="cube">
                                    </div>
                                    <h3 class="card-title">Programación orientada a objetos</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            una forma de programar que trata de encontrar una solución a problemas a través de objetos.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/diseno.png" alt="plantilla">
                                    </div>
                                    <h3 class="card-title">Clase</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            plantilla para la creación de objetos de datos según un modelo predefinido.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/3d-modeling.png" alt="object">
                                    </div>
                                    <h3 class="card-title">Objeto</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            unidad dentro de un programa informático que tiene un estado, y un comportamiento.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/rompecabezas.png" alt="atributo">
                                    </div>
                                    <h3 class="card-title">Atributo</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            caracterísiticas individuales que diferencian un objeto de otro y determinan su apariencia, estado u otras cualidades.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/ruedas-dentadas.png" alt="metodo">
                                    </div>
                                    <h3 class="card-title">Método</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            procedimientos y funciones que se invocan para actuar sobre los objetos.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/realimentacion.png" alt="evento">
                                    </div>
                                    <h3 class="card-title">Evento</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            medio como interactúa una clase con otras o con el propio usuario, se encargan de avisar que algo ha ocurrido y de manejarlo de una forma o de otra.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/meds.png" alt="meds">
                                    </div>
                                    <h3 class="card-title">Encapsulamiento</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            ocultamiento del estado, es decir, de los datos miembro de un objeto de manera que solo se pueda cambiar mediante las operaciones definidas para ese objeto.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/bulbo.png" alt="abstraer">
                                    </div>
                                    <h3 class="card-title">Abstracción</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            método que se usa al momento de analizar un elemento particular, despreciando los aspectos no relevantes para el estudio específico.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/distancia.png" alt="herencia">
                                    </div>
                                    <h3 class="card-title">Herencia</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            propiedad que permite que los objetos sean creados a partir de otros ya existentes.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/cubo.png" alt="polimorfo">
                                    </div>
                                    <h3 class="card-title">Polimorfismo</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            capacidad que tienen los objetos de una clase de responder al mismo mensaje o evento en función de los parámetros utilizados durante su invocación.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img" src="../icons/modulos.png" alt="modulo">
                                    </div>
                                    <h3 class="card-title">Modulación</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            consiste en dividir un programa en módulos o subprogramas con el fin de hacerlo más legible y manejable.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="term">
                                    <div class="card-img">
                                        <img class="term-img-mine" src="../icons/minecraft.png.png" alt="minecraft">
                                    </div>
                                    <h3 class="card-title">Minecraft</h3>
                                    <hr class="subline">
                                    <a href="#" class="next tooltip">
                                        Ver más >>
                                        <span class="tooltip-text">
                                            videojuego de mundo abierto donde la exploración y las construcciones son fundamentales.
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
        </main>

        <!-- Left Navegation Index Contend -->
        <!-- Left Navegation Index Contend -->
        <aside class=" wrapper nav-index thing">
            <h3>Indice de Contenidos</h3>
            <hr class="subline">
            <ul>
                <li class="index-title">
                    <a href="../index.html">
                        <strong>Introducción al Tema</strong>
                    </a>
                </li>
                <li class="index-sub"><a href="./content/objects.html">Qué es la Orientación a Objetos</a></li>
                <li class="index-sub" ><span class="inside-idt"></span>
                    <a href="./content/objects.html">¿Cómo Pensar en Objetos?</a></li>
                <li class="index-sub"><span class="inside-idt"></span>
                    <a href="./content/objects.html">Definiendo un Objeto</a></li>
                <li class="index-sub"><span class="inside-idt"></span>
                    <a href="./content/objects.html">POO vs Otros Paradigmas</a></li>

                <li class="index-title">
                    <a href="./content/advantage.html">
                        <strong>Ventajas de POO</strong>
                    </a>
                </li>
                <li class="index-sub">
                    <a href="./content/advantage.html">Modificabilidad</a></li>
                <li class="index-sub">
                    <a href="./content/advantage.html">Gestión de los Errores</a></li>
                <li class="index-sub">
                    <a href="./content/advantage.html">Trabajo en Equipo</a></li>
                <li class="index-sub">
                    <a href="./content/advantage.html">Herencia</a></li>
                <li class="index-sub">
                    <a href="./content/advantage.html">Reducción de Costos</a></li>

                <li class="index-title">
                    <a href="./content/elements.html">
                        <strong>Elementos de POO</strong>
                    </a>
                </li>
                <li class="index-sub"><a href="./content/elements.html">Clase</a></li>
                <li class="index-sub"><a href="./content/elements.html">Objeto</a></li>
                <li class="index-sub"><a href="./content/elements.html">Atributos</a></li>
                <li class="index-sub"><a href="./content/elements.html">Método</a></li>
                <li class="index-sub"><a href="./content/elements.html">Evento</a></li>
        
                <li class="index-title">
                    <a href="./content/fundamentals.html">
                        <strong>Fundamentos de POO</strong>
                    </a>
                </li>
                <li class="index-sub"><a href="./content/fundamentals.html">Encapsulamiento</a></li>
                <li class="index-sub"><a href="./content/fundamentals.html">Abstracción</a></li>
                <li class="index-sub"><a href="./content/fundamentals.html">Herencia</a></li>
                <li class="index-sub"><a href="./content/fundamentals.html">Polimorfismo</a></li>
                <br>
            </ul>
        </aside>

    </div>

<!-- Page Footer -->
<div id="foot">
    <footer class="page-foot">
        <div class="container">
            <a href="https://www.facebook.com/iujocatia/"><img class="img-b" src="../icons/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com/iujocatia/?hl=es-la"><img class="img-b" src="../icons/instagram.png" alt="instagram"></a>
            <p id="foo" class="border-bottom">Copyright © All rights reserved to I.U.J.O</p>
        </div>
    </footer>
</div>
    
</body>
</html>