<body>
<div class="container">
    <nav class="nav-main">
        <img class="nav-brand" src="../pictures/iujo-logo.png" alt="Iujo logo">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="author.html">Apartado del autor</a></li>
            <li><a href="glosary.html">Glosario de terminos</a></li>
            <li><a href="help.html">Sección de Apoyo</a></li>
        </ul>
        <ul>
            <li>
                <i>Searh Icon Here</i>
            </li>
        </ul>
    </nav>
    <hr>
</div>
</body>