<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The OOP: Programacion orientada a objetos</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>

    <div class="container">
        <nav class="nav-main">
            <img class="nav-brand" src="../../pictures/iujo-logo.png" alt="Iujo logo">
            <ul class="nav-menu">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../author.html">Apartado del autor</a></li>
                <li><a href="../glosary.html">Glosario de terminos</a></li>
                <li><a href="../help.html">Sección de Apoyo</a></li>
            </ul>
            <ul>
                <li>
                    <i>Searh Icon Here</i>
                </li>
            </ul>
        </nav>
        <hr>
    </div>

    <div class="container">
        <main class="main-content">
            <div class="wrapper">
                <article class="art">
                    <h1>Programacion orientada a objetos</h1>
            
                    <p>content: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, nulla assumenda? Perspiciatis adipisci quidem fugit? Repudiandae voluptates vel dolore, impedit, beatae ea provident incidunt nostrum, reiciendis eos mollitia laboriosam eveniet.</p>
            
                    <img src="#" alt="image">
            
                    <section>
                        <a href="#">links externos</a>
                        <a href="#">links externos</a>
                        <a href="#">links externos</a>
                        <a href="#">links externos</a>
                        <a href="#">links externos</a>
                    </section>
            
                </article>
            </div>
        </main>

    <aside class="nav-index">
        <ul>
            <li><a href="../../index.html">Introducción a la Orientación a Objetos</a></li>
            <li><a>Qué es la Orientación a Objetos</a></li>
            <li><a href="#">El paradigma Orientado a Objetos vs otros paradigmas</a></li>
    
            <li><a href="#">Características de la Orientación a Objetos</a></li>
            <li><a href="#">Encapsulamiento</a></li>
            <li><a href="#">Abstracción</a></li>
            <li><a href="#">Herencia</a></li>
            <li><a href="#">Polimorfismo</a></li>
    
            <li><a href="#">Metodología de desarrollo del software</a></li>
            <li><a href="#">Análisis, diseño, implementación y pruebas</a></li>
            <li><a href="#">Lenguaje de modelado UML</a></li>
            
            <li><a href="#">Análisis Orientado a Objetos</a></li>
            <li><a href="#">Identificación de objetos y clases</a></li>
            <li><a href="#">Identificación de relaciones entre clases</a></li>
            <li><a href="#">Diagrama de clases de análisis</a></li>
    
            <li><a href="#">Diseño Orientado a Objetos</a></li>
            <li><a href="#">Atributos</a></li>
            <li><a href="#">Métodos</a></li>
            <li><a href="#">Relaciones entre clases</a></li>
            <li><a href="#">Clases abstractas</a></li>
            <li><a href="#">Diagrama de clases de diseño</a></li>
            <li><a href="#">Diagrama de paquetes</a></li>
        </ul>
    </aside>
</div>

    <div class="container">
        <footer class="page-foot">
            <!-- Pagination -->
            <h1>Aqui va el footer...</h1>
        </footer>
    </div>
    
</body>
</html>



