/* Glosary styles */
#term-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

#term-cards img{
    width: 100%;
    height: 180px;
}

#term-cards h3{
    font-size: 13px;
    text-align: center;
    margin: 10px 0;
}

#term-cards div {
    text-justify: auto;
}

#term-cards a{
    padding: 10px 0;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

#term-cards a:hover{
    text-decoration-line: underline;
}

a.next{
    color: #039c5f;
}

a.next:hover{
    color: #00ff99d5;
    text-decoration: underline;
}