/* Glosary styles */
.card {
    background: rgb(247, 247, 247);
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 
}

.card:hover {
    background: rgb(255, 255, 255);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 10px 36px 0px, #00ff99d5 0px 0px 0px 1px; 
}

.card-img{
    width: 90%;
    margin: 10px auto;
}

#term-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    text-align: center;
    padding: 10px;
}

.term-img{
    text-align: center;
    width: 64px;
    height: 64px;
}

.card-title{
    margin-right: 0 !important;
    padding-left: 0;
}

#term-cards h3{
    font-size: 13px;
    text-align: center;
    margin: 10px 0;
}

#term-cards div {
    text-justify: auto;
}

#term-cards a{
    padding: 10px 0;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

#term-cards a:hover{
    text-decoration-line: underline;
}

a.next{
    color: #039c5f;
}

a.next:hover{
    color: #00ff99d5;
    text-decoration: underline;
}
  
  /*Tooltip*/
  section#tooltip a {
    margin: 20px 0;
  }
  
  section#tooltip > div > div > a:nth-child(odd)::first-letter {
    font-weight: normal;
    float: left;
    font-size: 4em;
    line-height: .75;
    letter-spacing: .15em;
    margin-top: .2em;
  }
  
  /*Tooltip text*/
  .tooltip {
    position: relative;
    color: #00b4ab;
  }
  
  .tooltip .tooltip-text {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    visibility: hidden;
    max-width: 300px;
    background-color: #00ff99;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: .3s;
    transform: translate3d(0px, 20px, 0px);
  }
  
  .tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #00b4ab transparent transparent transparent;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  