/* Pagination links */
.pagination{
    background-color: #fff;
    width: auto;
    padding: 10px;
    float: left;
    border-radius: 6rem
}

.pagination a {
    color: rgb(27, 27, 27);
    padding: 8px 16px;
    text-decoration: none;
    float: left;
}
  
/* Active/Current link */
.pagination a.active {
    background-color: #00ff99;
    color: white;
    border-radius: 5rem;
}
  
/* Green Color Hover */
.pagination a:hover:not(.active) {
    background-color: #ddd;
    background-color: #00ff9941;
    border-radius: 5rem;
}

.pagination a:hover{
    box-shadow: #00ff99d5 0px 0px 16px;
}

#wrap{
    background-color: transparent !important;
}

